/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f7fa;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: auto;
  /* text-align: center; */
  padding-top: 0px;
  padding-left: 50px;
}

.plus-btn {
  font-size: 2rem;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

.plus-btn:hover {
  background-color: #45a049;
}

/* Popup Modal Styles */
.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
}

.popup-content {
  background: #2f3640;
  color: white;
  padding: 50px;
  border-radius: 8px;
  width: 70%;
  margin: auto;
  top: 20%;
  position: relative;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

/* Form Styles */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 1rem;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}


#CancelBtn{
  background-color: red;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#CancelBtn:hover{
  background-color: rgb(176, 22, 22);
}
button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


button:hover {
  background-color: #0056b3;
}

/* Question Container Styles */
.question-container {
  margin-top: 40px;
  margin-bottom: 20px;
}
